<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin.css">

    <title>Index Admin</title>
</head>

<body>
    <nav>
        <div class="nav-left">
            <img src="img/logo.jpg" alt="" class="logo">
            <ul>
                <li>
                    <a href="/index">Home</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tuvngch18505/">Contact</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tuvngch18505/about">About</a>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <ul>
                <li>
                    <a href="/">Back To Website</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container">
        <div class="col">
            <br>
            <div class="text">
                <h1>ATN Shop</h1>
            </div>
        </div>
        <div class="col">
            <div class="create">
                <a type="button" class="btn btn-success" href="/create"> <i class="fas fa-plus-circle"></i> Create new
                </a>
            </div>
        </div>
        <br>
        <div class="col">
            <div class="search">
                <form class="d-flex" action="search" method="post">
                    <input class="form-control me - 2" name="txtName" type="search" placeholder="Enter product name"
                        aria-label="search">
                    <button class="btn btn-primary" type="submit" name="search">Search</button>
                </form>
            </div>
        </div>
        <div>
            <br>
            {{#if count}}
            <div class="count" style="font-size: 10px;">
                <h2>Number of search results: {{count}}</h2>
            </div>
            {{/if}}

            {{#if error}}
            <div class="count" style="font-size: 10px;">
                <h2>{{ error }}</h2>
            </div>
            {{/if}}
            <br>
        </div>
        <div class="table table-striped" style="width: 100%">
            <table>
                <thead class="bg-warning">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Color</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>

                </thead>
                {{# each model}}
                <tbody>
                    <th>{{add @index}}</th>
                    <th>{{name}}</th>
                    <th>{{price}}</th>
                    <th>{{color}} </th>
                    <th><img src="/upload/{{image}}" alt="" class="img"></th>
                    <th>{{description}}</th>
                    <th>
                        <a style="width: 80px; heigh: 80px;" type="button" href="edit?id={{_id}}"
                            class="btn btn-warning"><i class="fas fa-edit"></i>Edit</a>
                        <br>
                        <a style="width: 80px; heigh: 80px; margin-top: 10px" type="button" href="delete?id={{_id}}"
                            class="btn btn-danger" onclick="return confirm('Are you sure delete product??!!')"><i class="fas fa-trash-alt"></i>Delete</a>
                    </th>
                </tbody>
                {{/ each}}

            </table>
        </div>
    </div>

</body>

</html>